<h1 class="site-title"><a href="/">{{$.Site.Title}}</a></h1>
<nav>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}"><a  href="{{ .URL }}" title="{{ .Title }}">
                {{ .Name }}</a></li>
        {{ end }}
        <li class=""><a  href="https://web.cecs.pdx.edu/~harmon8" title="Work"><i class="fal fa-external-link"></i>
                Work</a></li>
    </ul>
</nav>
