<li class="post-link">
    <ul>
        <li><time datetime="{{.Date}}">{{.Date.Format "2006-01-02"}}</time></p></li>
        <li><a href="{{ .RelPermalink }}">{{.Title}}</a>
        <ul class="tags">
            {{ with .Params.Tags }}
                {{ range . }}<li><a href="/tags/{{ . }}">{{ . }}</a></li>{{end}} 
            {{end}}
        </ul>
        </li>
    </ul>
</li>

