
@import "reset.scss";

$background: #333336; // #25252f; //#222226; //#333336;
$foreground: #f8f8ff;

$accent: #4FA7BF; // #48a4bd; //#71b8cc; // #48a4bd;
$accent-bright: #FFA331; // rgb(255, 163, 49);
$accent-light: #9FbEcB; // #B0C6CF; // #c0d2d8;  // #90B3BB;
$bright-white: #f8f8ff;

$font-family-text: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-header: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$text-weight: 400;

$font-size: 16px;
$generalspacing: 1.5rem;

$body-width: 40rem;

html {
    -moz-osx-font-smoothing: grayscale; // so fonts aren't bold in FF
    background: $background;
    color: $foreground;
    margin: $generalspacing;
    font-family: $font-family-text;
    font-weight: $text-weight;
    line-height: $generalspacing;
    font-size: $font-size;
}

body {
    max-width: $body-width;
    margin: auto;
    line-height: $generalspacing;
}

em {
    font-style: italic;
}
strong, b{
    font-weight: bolder;
}

pre {
    padding: $generalspacing/2;
    font-family: monospace;
    overflow-x: auto;
    margin-bottom: $generalspacing;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: $generalspacing;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-header;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: $generalspacing * 2;
    margin-bottom: $generalspacing/2;
    font-weight: 200;
    color: $bright-white;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.3rem;
}

a, a:link, a:visited {
    color: $accent;
}
a:hover {
    color: $accent-bright;
}
li.is-active {
    a {
        color: $accent-bright;
    }
}

// Header

.site-title {
    a {
        color: inherit;
        text-decoration: none;
    }
    a:hover {
        color: $accent-bright;
    }
}

// Lists: General

ul {
    list-style-type: square;
    padding-left: $generalspacing;
}

// Lists: Main Nav Menu

nav {
    ul {
        margin-left: -$generalspacing/2; //so the left item is left-aligned
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        li {
            a {
                padding: 0 $generalspacing/2 0 $generalspacing/2;
            }
        }
    }
    margin-bottom: $generalspacing;
}

// Lists: Post Lists
ul.post-list { // outer list
    list-style-type: none;
    padding-left: 0;

    ul { // date + (title + list of tags)
        display: flex;
        align-items: top;
        margin-bottom: $generalspacing/2;
        list-style-type: none;

        time { //date
            font-family: monospace;
            margin-right: $generalspacing;
            color: $accent-light;
         
        }
        
        ul.tags { // title + list of tags
            flex-wrap: wrap;
            padding-left: 0;
            font-size: .75em;
            li {
                display: inline;
                background: lighten($background, 5%);
                padding: 0 4px;
                margin: 0 4px 0 0;
                a {
                    text-decoration: none;
                    color: $accent-light;
                }
            }
        }
    }
}


// Blog

// Blog: Meta

.meta {
    color: $accent-light;
    font-size: .95em;
    p {
        margin-top: -$generalspacing;
        margin-bottom: $generalspacing;
    }
    nav{
        margin-left: -$generalspacing;
        margin-right: -$generalspacing;
        margin-bottom: 0;
        ul {
            list-style-type: none;
            margin-left: 0;
            justify-content: space-between;
            flex-wrap: nowrap;
            li {
                //font-size: .8em;
                a {
                    padding: 0 $generalspacing/4;
                }
                margin: 0;
            }
        }
    }
}

// Blog: Navigation
nav.post-nav {
    font-size: .95em;
    color: $accent-light;
    ul{
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        justify-content: space-between;
    }
}


// Blog : images

.blog-post img {
    display: block;
    margin: auto;
    padding: $generalspacing/2 0;
}

// Blog : Images set up with the figure shortcode
.blog-post figure {
    display: flex;
    justify-content: space-between;

    img {
        order: 2;
        max-width: 66%;
        padding: 0 0 0 0 $generalspacing;
        margin: 0;
    }
    figcaption { order: 1; }
    h4 {
        font-family: $font-family-text;
        text-transform: none;
        font-size: .95em;
        color: $accent-light;
        font-weight: inherit;
        letter-spacing: inherit;
        margin-top: $generalspacing/2;
    }
    margin-bottom: $generalspacing;
}


.blog-post ol, .blog-post ul {
    margin-left: $generalspacing;
    li {margin-bottom: $generalspacing/2;}
}

.blog-post ol{
    list-style-type: numbered;
}

.blog-post ul{
    list-style-type: square;
}

// footer

footer p.credits {
    color: $accent-light;
    font-size: .9em;
    text-align: center;
    padding-top: $generalspacing * 2;
    padding-bottom: $generalspacing;
}

p.more-link {
    font-size: .95em;
}


//footnotes
sup {
    vertical-align: super;
    font-size: 75%;
}

.footnotes { 
    ol {
        list-style-type: numbered;
        padding-left: $generalspacing;
    }
    hr {
        border: none;
        height: 1px;
        background: $accent-light;
        margin-top: $generalspacing;
        margin-bottom: $generalspacing;
    }
}