{{ define "main" }}

<article class="blog-post">

    <header>
        <h2>{{ .Title }}</h2>
        <div class="meta">
            <nav><ul>
                <li>
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}"> <i class="fal fa-arrow-left"></i></a>
                {{ end }}
                </li>
                <li>
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}"> <i class="fal fa-arrow-right"></i></a>
                {{ end }}
            </li>
            </ul></nav>

            <p><time datetime="{{.Date}}">
            {{.Date.Format "January 2, 2006"}}</time>
            {{ with .Params.Tags }} |
            {{ range . }} {{ . }} {{end}} {{end}}</p>
        </div>
    </header>

    {{ with .Content }}
        {{ . }}
    {{ end }}

    <footer>
        <nav class="post-nav"><ul>
            {{ with .PrevInSection }}
              <li><i class="fal fa-arrow-left"></i>
                  <a class="previous" href="{{.Permalink}}"> {{.Title}}</a></li>
            {{ end }}
            {{ with .NextInSection }}
               <li><a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                   <i class="fal fa-arrow-right"></i></li>
            {{ end }}
        </ul></nav>
    </footer>

<article>
{{ end }}
