{{ define "main" }}

    <h2>Hello.</h2>

    {{ with .Content }}
        {{ . }}
        <p class="more-link"><a href='{{ "/about/" | relURL}}'>... More About Me</a></p>
    {{ end }}

    {{ with .Site.GetPage "section" "posts" }}

        <h2>'Recent' Posts</h2>
        <p>Mostly bits of my journal from my 2013 PCT hike. Occasionally, other thoughts.</p>
        <ul class="post-list">
            {{ range first 5 (where .Pages "Section" "posts") }}
                {{- partial "post-link.html" . -}}
            {{ end }}
        </ul>
        <p class="more-link"><a href='{{ "/posts/" | relURL}}'>... More Posts</a></p>
    {{ end }}

{{ end }}
