{{ define "main" }}

    <h2>{{.Title}}</h2>

    {{ with .Content }} {{ . }} {{ end }}

    <ul class="post-list">
        {{ range .Pages }}
            {{- partial "post-link.html" . -}}
        {{ end }}
    </ul>

{{ end }}
